.footer {
	height: 180px;
	background-color: #333;
	position: relative;
}

.footer__top {
	position: absolute;
	top: -50px;
	right: 0;
	left: 0;
}

.footer__list {
	font-family: "Noto Sans Japanese";
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-top: 70px;
    margin-bottom: 40px;
}

.footer__list li {
	display: inline-block;
	width: 7em;
	text-align: center;
}

.copy {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}