
h1 {
	font-family: 'Montserrat', sans-serif;
	float: left;
  font-size: 48px;
	padding: 20px 0;
}

.head {
	overflow: hidden;
}

.head__list {
	font-family: "Noto Sans Japanese";
	float: right;
	padding-top: 20px;
}

.head__list li {
	display: inline-block;
	width: 7em;
	text-align: center;
}

.select {
	padding-bottom: 4px;
	border-bottom: 4px solid #bfa34c;
}
